.sprint-header {

    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(15, 16, 19, 0.805);
}

.add-sprint {

    border: none;
    width: 100%;
    padding: 10px;
    background-color: #4c8dd6;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.sprints {

    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.sprintCard {
    width: 100%;
    display: flex;
    /* /* height: 40px; */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(15, 16, 19);
    justify-content: space-between;
    align-items: center;
}


.sprintCard>div:nth-child(2) {

    width: 30%;
    text-align: center;
}

span {

    color: rgb(116, 113, 113);
    font-size: 12px;
    font-weight: 200;

}

.btns {

    width: 100%;
    height: 30px;
}

.add-task {

    border: none;
    width: 40%;
    /* padding: 10px; */
    background-color: #4c8dd6;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    margin-left: 25px;
}

.view-task {
    border: none;
    width: 40%;
    /* padding: 10px; */
    background-color: #4c8dd6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}